
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сайт Отеля </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div>


        <p><a href="/Home/Index/"> <= Вернуться на главную страницу </a></p>

        <h3>Список Номеров </h3>

        @foreach (var b in ViewBag.Numbers)
        {

            <p> Кол-во Комнат   : @b.QuantityRooms</p>
            <p> Тип Номера   : @b.TypeRoom</p>
            <p> Статус   : @b.Status</p>
            <p> Цена за сутки   : @b.Price</p>

            <p><a href="/Home/OrderNumber/@b.NumberId">Заселение</a></p>
            
            <hr />
        }

    </div>
</body>
</html>